<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inventario Panadería</title>
</head>

<body>

<h1>Sistema de Inventario para Panadería</h1>

<form th:action="@{/guardar}" th:object="${producto}" method="post">

    <label>Nombre:</label><br>
    <input type="text" th:field="*{nombre}">
    <br><br>

    <label>Precio:</label><br>
    <input type="number" step="0.01" th:field="*{precio}">
    <br><br>

    <label>Cantidad:</label><br>
    <input type="number" th:field="*{cantidad}">
    <br><br>

    <button type="submit">
        Registrar Producto
    </button>

</form>

</body>
</html>