<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Venta</title>
</head>
<body>

<h1>Módulo de Ventas</h1>
<hr>

<h2>Menú</h2>

<a th:href="@{/}">
    Productos
</a>

|

<a th:href="@{/ventas}">
    Ventas
</a>

<hr>

<form th:action="@{/registrarVenta}" th:object="${venta}" method="post">

    <p>
        <label>Producto:</label><br>
        <input type="text" th:field="*{producto}" required>
    </p>

    <p>
        <label>Cantidad:</label><br>
        <input type="number" th:field="*{cantidad}" required>
    </p>

    <p>
        <label>Total:</label><br>
        <input type="number" step="0.01" th:field="*{total}" required>
    </p>

    <button type="submit">Registrar Venta</button>

</form>

<br>

<a th:href="@{/}">Volver al módulo de productos</a>

</body>
</html>